
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111;
}

.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c5a880;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto span {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #111;
    font-size: 0.9rem;
}

.sobre {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.sobre h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
